colgroup col.request {
    background-color: #E0E4E6;
}

colgroup col.response {
    background-color: #AEBCC0;
}

.pointer {
    cursor: pointer;
}

/*
    Original Bootstrap's CSS depends on empty href attributes to style cursors for several
    components (pagination, tabs etc.). But in AngularJS adding empty href attributes to link tags will cause unwanted
    route changes. This is why we need to remove empty href attributes from directive templates and as a result styling
    is not applied correctly. The remedy is simple, just add the following styling to your application:
*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/*
    Will remove that tab annoying border
*/
a:hover, a:active, a:focus {
    outline: 0;
}