<div class="panel-group" id="accordionRequest" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequestOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionRequest" href="#collapseRequestOne" aria-expanded="false" aria-controls="collapseRequestOne">
          Request Data
        </a>
      </h4>
    </div>
    <div id="collapseRequestOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequestOne">
      <div class="panel-body">
        <form name="requestForm" class="css-form">
            <p class="requiredAttribute">* </p>Name:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.name" placeholder="A name to make easier to identify the request" /><br />
            <p class="requiredAttribute">* </p>Method:
            <select class="form-control" ng-model="selectedRouteRow.route.request.method" ng-options="httpMethod for httpMethod in httpMethodArray">
                <option value='' disabled>- The HTTP method that will be sent -</option>
            </select><br />
            <p class="requiredAttribute">* </p>Path:
            <div>
                <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.path" placeholder="A request path like: /hello"/>
                <h6 class="alert-info">
                    The full url will be:<br/>
                    http://{{rootConfiguration.host}}:{{rootConfiguration.port}}{{rootConfiguration.context}}{{selectedRouteRow.route.request.path}}
                </h6>
            </div><br />
            Description:
            <textarea class="form-control" rows="3" ng-model="selectedRouteRow.route.request.description" placeholder="A request description if needed"></textarea><br />
            Required Content Type:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.requiredContentType" placeholder="A required Content-Type: application/json"/><br />
            Hold the Request in Milli:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.holdRequestInMilli" placeholder="For how long you want to hold the request?"/><br />
            Is Body Required:
            <input type="checkbox" ng-model="selectedRouteRow.route.request.isBodyRequired" ng-change="bodyRequired()" /><br />
            <div ng-show="selectedRouteRow.route.request.isBodyRequired">
                Validate By
                <select class="form-control"
                        ng-model="selectedRouteRow.route.request.bodyValidationType"
                        ng-options="validationType for validationType in bodyValidationTypeList">
                    <option value='' disabled>- The validation type to be applied -</option>
                </select><br />
            </div>
            <div ng-show="displayRequestBody()">
                Expected body syntax/value
                <textarea class="form-control" rows="3" ng-model="selectedRouteRow.route.request.body" placeholder="The required body value/syntax"></textarea><br />
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequestTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionRequest" href="#collapseRequestTwo" aria-expanded="false" aria-controls="collapseRequestTwo">
          Header List
        </a>
      </h4>
    </div>
    <div id="collapseRequestTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequestTwo">
      <div class="panel-body">
        <table class="table table-hover pointer">
            <tbody>
                <button class="btn btn-success" ng-click="addNewHeaderRequest(selectedRouteRow.route.request)">Add New</button>
                <tr ng-repeat="header in selectedRouteRow.route.request.headerList">
                    <td>
                        Name: <input type="text" class="form-control" ng-model="header.name" placeholder="The header name"/><br />
                        Required: <input type="checkbox" ng-model="header.required" > <h6 class="pull-right" style="display: inline;">You must split the Array values with a comma ","</h6>

                        <textarea class="form-control" rows="3" ng-model="header.valueList" placeholder="A list like VALUE or VALUE1,VALUE2"></textarea>
                        <br/>
                        <button class="btn btn-info" ng-click="addWildCard(header)">Use Wild Card</button> <button class="btn btn-danger pull-right" ng-click="selectedRouteRow.route.request.headerList.splice($index,1)">Delete (no confirmation)</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequestThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionRequest" href="#collapseRequestThree" aria-expanded="false" aria-controls="collapseRequestThree">
          Query Param List
        </a>
      </h4>
    </div>
    <div id="collapseRequestThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequestThree">
      <div class="panel-body">
          <table class="table table-hover pointer">
            <tbody>
                <button class="btn btn-success" ng-click="addNewQueryParamRequest(selectedRouteRow.route.request)">Add New</button>
                <tr ng-repeat="queryParam in selectedRouteRow.route.request.queryParamList">
                    <td>
                        Name: <input type="text" class="form-control" ng-model="queryParam.name" placeholder="The queryParam name"/><br />
                        Required: <input type="checkbox" ng-model="queryParam.required" > <h6 class="pull-right" style="display: inline;">You must split the Array values with a comma ","</h6>

                        <textarea class="form-control" rows="3" ng-model="queryParam.valueList" placeholder="A list like VALUE or VALUE1,VALUE2"></textarea>
                        <br/>
                        <button class="btn btn-info" ng-click="addWildCard(queryParam)">Use Wild Card</button> <button class="btn btn-danger pull-right" ng-click="selectedRouteRow.route.request.queryParamList.splice($index,1)">Delete (no confirmation)</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>