<div class="panel-group" id="accordionRequest" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequestOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionRequest" href="#collapseRequestOne" aria-expanded="false" aria-controls="collapseRequestOne">
          Request Data
        </a>
      </h4>
    </div>
    <div id="collapseRequestOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequestOne">
      <div class="panel-body">
        <form name="requestForm" class="css-form">
            Name:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.name" placeholder="A name to make easier to identify the request" /><br />
            Method:
            <select class="form-control" ng-model="selectedRouteRow.route.request.method" ng-options="httpMethod for httpMethod in httpMethodArray">
                <option value='' disabled>- The HTTP method that will be sent -</option>
            </select><br />
            Path:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.path" placeholder="A request path like: /hello"/><br />
            Description:
            <textarea class="form-control" rows="3" ng-model="selectedRouteRow.route.request.description" placeholder="A request description if needed"></textarea><br />
            Content Type:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.requiredContentType" placeholder="A required Content-Type if needed: application/json"/><br />
            Hold the Request in Milli:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.request.holdRequestInMilli" placeholder="For how long you want to hold the request?"/><br />
            Is Body Required:
            <input type="checkbox" ng-model="selectedRouteRow.route.request.isBodyRequired"/><br />
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequestTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionRequest" href="#collapseRequestTwo" aria-expanded="false" aria-controls="collapseRequestTwo">
          Header List
        </a>
      </h4>
    </div>
    <div id="collapseRequestTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequestTwo">
      <div class="panel-body">
        <table class="table table-hover pointer">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value List</th>
                </tr>
            </thead>
            <tbody>
                <button class="btn btn-success" ng-click="addNewHeaderRequest(selectedRouteRow.route.request)">Add New</button>
                <tr ng-repeat="header in selectedRouteRow.route.request.requiredHeaderList">
                    <td>
                        <input type="text" class="form-control" ng-model="header.name" placeholder="The name of the header"/><br />
                        <h6>You must split the Array values with a comma ","</h6>
                    </td>
                    <td>
                        <textarea class="form-control" rows="3" ng-model="header.valueList" placeholder="A list like VALUE or VALUE1,VALUE2"></textarea>
                        <br/>
                        <button class="btn btn-danger" ng-click="selectedRouteRow.route.request.requiredHeaderList.splice(key,1)">Delete (no confirmation)</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingRequestThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionRequest" href="#collapseRequestThree" aria-expanded="false" aria-controls="collapseRequestThree">
          Query Param List
        </a>
      </h4>
    </div>
    <div id="collapseRequestThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRequestThree">
      <div class="panel-body">
          <table class="table table-hover pointer">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value List</th>
                </tr>
            </thead>
            <tbody>
                <button class="btn btn-success" ng-click="addNewQueryParamRequest(selectedRouteRow.route.request)">Add New</button>
                <tr ng-repeat="queryParam in selectedRouteRow.route.request.requiredQueryParamList">
                    <td>
                        <input type="text" class="form-control" ng-model="queryParam.name" placeholder="The name of the Query Parameter"/><br />
                        <h6>You must split the Array values with a comma ","</h6>
                    </td>
                    <td>
                        <textarea class="form-control" rows="3" ng-model="queryParam.valueList" placeholder="A list like VALUE or VALUE1,VALUE2"></textarea>
                        <br/>
                        <button class="btn btn-danger" ng-click="selectedRouteRow.route.request.requiredQueryParamList.splice(key,1)">Delete (no confirmation)</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>