<div class="panel-group" id="accordionResponse" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingResponseOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordionResponse" href="#collapseResponseOne" aria-expanded="false" aria-controls="collapseResponseOne">
          Response Data
        </a>
      </h4>
    </div>
    <div id="collapseResponseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingResponseOne">
      <div class="panel-body">
        <form novalidate class="css-form">
            <p class="requiredAttribute">* </p>Status Code:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.response.statusCode" placeholder="The Response Status Code: 200 or 201..."/><br />
            <p class="requiredAttribute">* </p>Content Type:
            <input type="text" class="form-control" ng-model="selectedRouteRow.route.response.contentType" placeholder="Type your Content-Type here: {{rootConfiguration.defaultContentType}}" /><br />
            Body:
            <textarea class="form-control" rows="3" ng-model="selectedRouteRow.route.response.body" placeholder='The body to be returned, e.g.: {"mockBody":{"title":"Hello World"}}'></textarea><br />
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingResponseTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionResponse" href="#collapseResponseTwo" aria-expanded="false" aria-controls="collapseResponseTwo">
          Header List
        </a>
      </h4>
    </div>
    <div id="collapseResponseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingResponseTwo">
      <div class="panel-body">
        <table class="table table-hover pointer">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value List</th>
                </tr>
            </thead>
            <tbody>
                <button class="btn btn-success" ng-click="addNewHeaderResponse(selectedRouteRow.route.response)">Add New</button>
                <tr ng-repeat="header in selectedRouteRow.route.response.headerList">
                    <td>
                        <input type="text" class="form-control" ng-model="header.name" placeholder="The name of the header"/><br />
                        <h6>You must split the Array values with a comma ","</h6>
                    </td>
                    <td>
                        <textarea class="form-control" rows="3" ng-model="header.valueList" placeholder="A list like VALUE or VALUE1,VALUE2"></textarea>
                        <br/>
                        <button class="btn btn-danger" ng-click="selectedRouteRow.route.response.headerList.splice(key,1)">Delete (no confirmation)</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>