<div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="routeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="routeModalLabel">Route - {{selectedRouteRow.requestName}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert"><p>These request/response will be set in the file: <br/><br/><h6>{{selectedRouteRow.route.uaiFile.fullPath}}</h6></p></div>
                <div id="errorDiv" class="alert-danger" ng-show="hasValidationErrors"></div>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li role="presentation" class="active"><a href="#request" aria-controls="request" role="tab" data-toggle="tab">Request</a></li>
                        <li role="presentation"><a href="#response" aria-controls="response" role="tab" data-toggle="tab">Response</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <br />
                        <div role="tabpanel" class="tab-pane active" id="request">
                            <div ng-include="'/uai-mock-server-gui/page?fileName=index/requestPanel'"></div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="response">
                            <div ng-include="'/uai-mock-server-gui/page?fileName=index/responsePanel'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveRoute()">Save changes</button>
                <button type="button" class="btn btn-danger" ng-click="deleteSelectedConfirmation(selectedRouteRow)" ng-hide="action == 'create'" >Delete</button>
            </div>
        </div>
    </div>
</div>