<!-- Modal -->
<div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="routeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="routeModalLabel">Route - {{selectedRouteRow.requestName}}</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li role="presentation" class="active"><a href="#request" aria-controls="request" role="tab" data-toggle="tab">Request</a></li>
                        <li role="presentation"><a href="#response" aria-controls="response" role="tab" data-toggle="tab">Response</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <br />
                        <div role="tabpanel" class="tab-pane active" id="request">
                            <div ng-include="'/uai-mock-server-gui/page?fileName=index/requestPanel'"></div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="response">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseResponseOne" aria-expanded="false" aria-controls="collapseResponseOne">
                                      Response Data
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseResponseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <form novalidate class="css-form">
                                        Status Code:
                                        <input type="text" class="form-control" ng-model="selectedRouteRow.route.response.statusCode" required /><br />
                                        Body:
                                        <textarea class="form-control" rows="3" ng-model="selectedRouteRow.route.response.body"></textarea><br />
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseResponseTwo" aria-expanded="false" aria-controls="collapseResponseTwo">
                                      Header List
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseResponseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    <table class="table table-hover pointer">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Value List</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="header in selectedRouteRow.route.response.headerList">
                                                <td>
                                                    <input type="text" class="form-control" ng-model="header.name" /><br />
                                                    <h6>You must split the Array values with a comma ","</h6>
                                                </td>
                                                <td>
                                                    <textarea class="form-control" rows="3" ng-model="header.valueList"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveRoute(selectedRouteRow)">Save changes</button>
            </div>
        </div>
    </div>
</div>