<!DOCTYPE html>
<html lang="en" ng-app="uaiMockServerApp">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="/uai-mock-server-gui/favicon" />

        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=bootstrap" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=tableSort" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=index" />

        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=tableSort"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=jquery"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=bootstrap"></script>
        <title>
            UaiMockServer - GUI
        </title>
    </head>
    <body ng-controller="routeController" class="container">
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">uaiMockServer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Routes</a></li>
                <li><a href="#">Root Configurations</a></li>
                <li><a href="http://uaimockserver.com/?page_id=20" target="_blank">Talk to me</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Me<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="http://cv.uaihebert.com/" target="_blank">Curriculum</a></li>
                    <li><a href="http://br.linkedin.com/pub/h%C3%A9bert-coelho-de-oliveira/46/ba8/5bb" target="_blank">Linkedin</a></li>
                    <li><a href="http://uaihebert.com/" target="_blank">Blog - uaiHebert.com</a></li>
                    <li><a href="http://uaicriteria.com/" target="_blank">JPA Criteria Framework</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project Links<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="http://uaimockserver.com/" target="_blank">uaiMockServer Site</a></li>
                    <li><a href="https://github.com/uaihebert/uaiMockServer" target="_blank">Source Code</a></li>
                    <li><a href="http://mvnrepository.com/artifact/uaihebert.com/uaiMockServer" target="_blank">Maven Repository</a></li>
                    <li><a href="http://sourceforge.net/projects/uaimockserver/" target="_blank">Standalone/Config Files</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div>
            <table class="table table-hover pointer" ts-wrapper>
                <thead>
                    <colgroup>
                        <col span="3" class="request">
                        <col span="2" class="response">
                    </colgroup>
                    <tr>
                        <th ts-criteria="requestName|lowercase" ts-default>Request Name</th>
                        <th ts-criteria="requestMethod|lowercase">Request Method</th>
                        <th ts-criteria="requestPath|lowercase">Request Path</th>
                        <th ts-criteria="responseCode">Response Code</th>
                        <th ts-criteria="responseContentType|lowercase">Response ContentType</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="routeRow in routeRowList track by routeRow.requestPath" ng-click="displaySelected(routeRow);" ts-repeat>
                        <td>{{routeRow.requestName}}</td>
                        <td>{{routeRow.requestMethod}}</td>
                        <td>{{routeRow.requestPath}}</td>
                        <td>{{routeRow.responseCode}}</td>
                        <td>{{routeRow.responseContentType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="routeModal" tabindex="-1" role="dialog" aria-labelledby="routeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="routeModalLabel">Route - {{selectedRouteRow.requestName}}</h4>
              </div>
              <div class="modal-body">
                {{selectedRouteRow.requestName}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </body>
    <script>
        var app = angular.module('uaiMockServerApp', ['tableSort']);

        app.controller('routeController', function($scope, $http) {
            $http.get('http://localhost:1234/uai-mock-server-gui/uaiRoute').
                    success(function(data) {
                        $scope.routeRowList = [];

                        for (i = 0; i < data.routeList.length; i++) {
                            routeRow = {};

                            routeRow.requestName = data.routeList[i].request.name;
                            routeRow.requestMethod = data.routeList[i].request.method;
                            routeRow.requestPath = data.routeList[i].request.path;
                            routeRow.responseCode = data.routeList[i].response.statusCode;
                            routeRow.responseContentType = data.routeList[i].response.contentType;

                            routeRow.route = data.routeList[i];

                            $scope.routeRowList.push(routeRow);
                        }
                    }
            );

            $scope.displaySelected = function (routeRow) {
                $scope.selectedRouteRow = routeRow;
                $('#routeModal').modal('toggle');
            }
        });
    </script>
</html>