<!DOCTYPE html>
<html lang="en" ng-app="uaiMockServerApp">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="/uai-mock-server-gui/favicon" />

        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=bootstrap" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=tableSort" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=index" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=growl" />


        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-animate"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=tableSort"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=jquery"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=bootstrap"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-growl"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-sanitize"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=ui-bootstrap-tpls"></script>

        <title>
            UaiMockServer - GUI
        </title>
    </head>
    <body ng-controller="webSocketController" class="container">
        <div ng-include="'/uai-mock-server-gui/page?fileName=common/headerMenu'"></div>
        <div>
            Current status: <button disabled type="button" ng-class="{'btn btn-success': connectionStatus == 'connected', 'btn btn-danger': connectionStatus == 'offline'}"><div ng-show="displayOnlineText">Online</div><div ng-hide="displayOnlineText">Offline</div></button>


            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Breed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="log in webSocketLog.logRequestList">
                        <td><a href="#" ng-click="isCollapsed = !isCollapsed">{{log.arrivedAt}}</a></td>
                        <td>{{log.whoInvokedAddress}}</td>
                    </tr>
                    <tr ng-repeat-end="">
                        <td colspan="2" style="padding: 0">
                            <div collapse="isCollapsed">
                                <h3>Pet details</h3>
                                <p>some details about this pet.</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Breed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="dog in dogs">
                        <td><a href="#" ng-click="isCollapsed = !isCollapsed">{{dog.name}}</a></td>
                        <td>{{dog.breed}}</td>
                    </tr>
                    <tr ng-repeat-end="">
                        <td colspan="2" style="padding: 0">
                            <div collapse="isCollapsed">
                                <h3>Pet details</h3>
                                <p>some details about this pet.</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p id="received" ></p>
        </div>
    </body>
    <script>
        var app = angular.module('uaiMockServerApp', ['tableSort', 'angular-growl', 'ngAnimate', 'ui.bootstrap']);
        app.controller('webSocketController', function($scope, $http, growl) {


            $scope.isCollapsed = true;
            $scope.dogs = [
                {
                    name: "Sparky",
                    breed: "Parson Russell Terrier"
                }, {
                    name: "Shep",
                    breed: "German Shepard"
                }
            ];



            $scope.connectionStatus = 'offline';
            $scope.displayOnlineText = false;
            $scope.webSocketLog = {};
            $scope.webSocketLog.logRequestList = [];
            $scope.connectToWebSocket = function() {
                if (window.WebSocket) {
                    $scope.socket = new WebSocket("ws://localhost:1234/uai-mock-server-gui-ws");
                    $scope.socket.onmessage = function (event) {
                        $('#received').html($('#received').html() + "<br/>" + event.data)


                        $scope.$apply(function() {
                            var jsonObj = JSON.parse(event.data);
                            $scope.webSocketLog.logRequestList.push(jsonObj.logRequest);
                            console.log(jsonObj.logRequest);
                        });

                    };
                    $scope.socket.onopen = function (event) {
                        $scope.$apply(function() {
                            $scope.connectionStatus = 'connected';
                            $scope.displayOnlineText = true;
                        });
                    };
                    $scope.socket.onclose = function (event) {
                        $scope.$apply(function() {
                            $scope.connectionStatus = 'offline';
                            $scope.displayOnlineText = false;
                        });
                    };
                } else {
                    alert("Your browser does not support Websockets. (Use FireFox or Chrome)");
                }
            }

            $scope.disconnectToWebSocket = function() {
                $scope.socket.close();
            }

            $scope.connectToWebSocket();










        })
</script>
</html>