<!DOCTYPE html>
<html lang="en" ng-app="uaiMockServerApp">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="/uai-mock-server-gui/favicon" />

        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=bootstrap" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=tableSort" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=index" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=growl" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=log" />

        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-animate"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=tableSort"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=jquery"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=bootstrap"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-growl"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-sanitize"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=ui-bootstrap-tpls"></script>

        <title>
            UaiMockServer - GUI
        </title>
    </head>
    <body ng-controller="webSocketController" class="container">
        <div ng-include="'/uai-mock-server-gui/page?fileName=common/headerMenu'"></div>
        <div>
            <br/>
            Current status: <span ng-class="{'label label-success': connectionStatus == 'connected', 'label label-danger': connectionStatus == 'offline'}">{{getConnectionStatus()}}</span>
            <br/>
            <br/>
            <table class="table">
                <thead>
                    <tr>
                        <th>Request Time (yyyy-MM-dd HH:mm:ss.SSS)</th>
                        <th>Request IP Source</th>
                        <th>Response Code</th>
                        <th>Returned as Expected?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="log in webSocketLog.logRequestList">
                        <td><a href="#" ng-click="isCollapsed = !isCollapsed">{{log.logRequest.arrivedAt}}</a></td>
                        <td>{{log.logRequest.whoInvokedAddress}}</td>
                        <td>{{log.logResponse.statusCode}}</td>
                        <td>
                            <span ng-class="{'label label-success': log.finishedWithError == false, 'label label-danger':  log.finishedWithError == true}">{{getResponseText(log)}}</span>
                        </td>
                    </tr>
                    <tr ng-repeat-end="">
                        <td colspan="4" style="padding: 0">
                            <div collapse="isCollapsed">
                                <div ng-class="getCalloutRequestClass(log)">
                                    <h4>Request Data</h4>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Attribute</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Path</td>
                                                <td>{{log.logRequest.path}}</td>
                                            </tr>
                                            <tr>
                                                <td>Method</td>
                                                <td>{{log.logRequest.method}}</td>
                                            </tr>
                                            <tr>
                                                <td>Arrived At</td>
                                                <td>{{log.logRequest.arrivedAt}}</td>
                                            </tr>
                                            <tr>
                                                <td>Content Type</td>
                                                <td>{{log.logRequest.contentType}}</td>
                                            </tr>
                                            <tr>
                                                <td>Who Invoked Address</td>
                                                <td>{{log.logRequest.whoInvokedAddress}}</td>
                                            </tr>
                                            <tr>
                                                <td>Header List</td>
                                                <td>
                                                    <ul>
                                                        <li ng-repeat="header in log.logRequest.headerValueList">{{header.key}}: {{header.valueList}}</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Query Param List</td>
                                                <td>
                                                    <ul>
                                                        <li ng-repeat="queryParam in log.logRequest.queryParamValueList">{{queryParam.key}}: {{queryParam.valueList}}</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-class="getCalloutRequestClass(log)">
                                    <h4>Response Sent</h4>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Attribute</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Status Code</td>
                                                <td>{{log.logResponse.statusCode}}</td>
                                            </tr>
                                            <tr>
                                                <td>Body</td>
                                                <td>{{log.logResponse.body}}</td>
                                            </tr>
                                            <tr>
                                                <td>Content Type</td>
                                                <td>{{log.logResponse.contentType}}</td>
                                            </tr>
                                            <tr>
                                                <td>Header List</td>
                                                <td>
                                                    <ul>
                                                        <li ng-repeat="header in log.logResponse.headerValueList">{{header.key}}: {{header.valueList}}</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-class="getCalloutRequestClass(log)">
                                    <h4>uaiMockServer Log</h4>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="logText in log.logList">
                                                <td>{{logText}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

    <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=log"></script>
</html>