<!DOCTYPE html>
<html lang="en" ng-app="uaiMockServerApp">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="/uai-mock-server-gui/favicon" />

        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=bootstrap" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=tableSort" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=index" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css?fileName=growl" />


        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-animate"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=tableSort"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=jquery"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=bootstrap"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-growl"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=angular-sanitize"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript?fileName=ui-bootstrap-tpls"></script>

        <title>
            UaiMockServer - GUI
        </title>
    </head>
    <body ng-controller="webSocketController" class="container">
        <div ng-include="'/uai-mock-server-gui/page?fileName=common/headerMenu'"></div>
        <div>
            Current status: <button disabled type="button" ng-class="{'btn btn-success': connectionStatus == 'connected', 'btn btn-danger': connectionStatus == 'offline'}"><div ng-show="displayOnlineText">Online</div><div ng-hide="displayOnlineText">Offline</div></button>


<div class="left-nav">
        <accordion close-others="true" >
              <accordion-group  is-open="isopen"
                                ng-repeat="item in items"
                                ng-controller="webSocketController">
                  <accordion-heading >
                    {{item.desc}} - {{isopen}}
                      <i class="pull-right glyphicon"
                         ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                  </accordion-heading>

                  <div ng-repeat="subitem in item.subitems">{{subitem.desc}}</div>
              </accordion-group>
          </accordion>
    </div>

            <p id="received" ></p>
        </div>
    </body>
    <script>
        var app = angular.module('uaiMockServerApp', ['tableSort', 'angular-growl', 'ngAnimate', 'ui.bootstrap']);
        app.controller('webSocketController', function($scope, $http, growl) {
            $scope.connectionStatus = 'offline';
            $scope.displayOnlineText = false;

            $scope.connectToWebSocket = function() {
                if (window.WebSocket) {
                    $scope.socket = new WebSocket("ws://localhost:1234/uai-mock-server-gui-ws");
                    $scope.socket.onmessage = function (event) {
                        $scope.$apply(function() {
                            $scope.connectionStatus = 'connected';
                            $scope.displayOnlineText = true;
                        });
                        $('#received').html($('#received').html() + "<br/>" + event.data)
                    };
                    $scope.socket.onopen = function (event) {
                        $scope.$apply(function() {
                            $scope.connectionStatus = 'connected';
                            $scope.displayOnlineText = true;
                        });
                    };
                    $scope.socket.onclose = function (event) {
                        $scope.$apply(function() {
                            $scope.connectionStatus = 'offline';
                            $scope.displayOnlineText = false;
                        });
                    };
                } else {
                    alert("Your browser does not support Websockets. (Use FireFox or Chrome)");
                }
            }

            $scope.disconnectToWebSocket = function() {
                $scope.socket.close();
            }

            $scope.connectToWebSocket();





            $scope.$parent.isopen = ($scope.$parent.default === $scope.item);

            $scope.$watch('isopen', function (newvalue, oldvalue, scope) {
                $scope.$parent.isopen = newvalue;
            });



            $scope.items = [
                {
                    name: "item1",
                    desc: "Item 1",
                    subitems: [
                        {
                            name: "subitem1",
                            desc: "Sub-Item 1"
                        },
                        {
                            name: "subitem2",
                            desc: "Sub-Item 2"
                        },
                        {
                            name: "subitem2",
                            desc: "Sub-Item 2"
                        }]
                },
                {
                    name: "item2",
                    desc: "Item 2",
                    subitems: [
                        {
                            name: "subitem1",
                            desc: "Sub-Item 1"
                        },
                        {
                            name: "subitem2",
                            desc: "Sub-Item 2"
                        },
                        {
                            name: "subitem2",
                            desc: "Sub-Item 2"
                        }]
                },
                {
                    name: "item3",
                    desc: "Item 3",
                    subitems: [
                        {
                            name: "subitem1",
                            desc: "Sub-Item 1"
                        },
                        {
                            name: "subitem2",
                            desc: "Sub-Item 2"
                        },
                        {
                            name: "subitem2",
                            desc: "Sub-Item 2"
                        }]
                }
            ];






        })
</script>
</html>