<!DOCTYPE html>
<html lang="en" ng-app="uaiMockServerApp">
    <head>
        <meta charset="utf-8">

        <link type="image/x-icon" href="/uaiGui/favicon" rel="icon" />
        <link type="image/x-icon" href="/uaiGui/favicon" rel="shortcut icon" />

        <link rel="stylesheet" href="/uaiGui/css?fileName=bootstrap" />
        <link rel="stylesheet" href="/uaiGui/css?fileName=tableSort" />
        <link rel="stylesheet" href="/uaiGui/css?fileName=index" />
        <link rel="stylesheet" href="/uaiGui/css?fileName=growl" />
        <link rel="stylesheet" href="/uaiGui/css?fileName=log" />

        <script type="application/javascript" src="/uaiGui/javascript?fileName=angular"></script>
        <script type="application/javascript" src="/uaiGui/javascript?fileName=angular-animate"></script>
        <script type="application/javascript" src="/uaiGui/javascript?fileName=tableSort"></script>
        <script type="application/javascript" src="/uaiGui/javascript?fileName=jquery"></script>
        <script type="application/javascript" src="/uaiGui/javascript?fileName=bootstrap"></script>
        <script type="application/javascript" src="/uaiGui/javascript?fileName=angular-growl"></script>
        <script type="application/javascript" src="/uaiGui/javascript?fileName=angular-sanitize"></script>
        <script type="application/javascript" src="/uaiGui/javascript?fileName=ui-bootstrap-tpls"></script>

        <title>
            UaiMockServer - GUI
        </title>
    </head>
    <body ng-controller="rootConfigController" class="container">
        <div ng-include="'/uaiGui/page?fileName=common/headerMenu'"></div>

        <h2><span class="label label-danger">An update here will only take effect after a reboot</span></h2>

        <div name="requestForm" class="css-form"><br/><br/>
            File Log: <input type="checkbox" ng-model="rootConfig.fileLog" /><br />
            Console Log: <input type="checkbox" ng-model="rootConfig.consoleLog" /><br /><br />
            Port: <input type="text" class="form-control" ng-model="rootConfig.port" placeholder="The port to be invoked, e.g.: 8080" /><br />
            Host: <input type="text" class="form-control" ng-model="rootConfig.host" placeholder="The IP that will be bound" /><br />
            Context: <input type="text" class="form-control" ng-model="rootConfig.context" placeholder="The url context e.g. http://IP/CONTEXT" /><br />
            Default Content-Type: <input type="text" class="form-control" ng-model="rootConfig.defaultContentType" placeholder="A default Content-Type to be returned" /><br />
        </div>

        <button type="button" class="btn btn-primary" ng-click="update()">Save changes</button>

        <h4><span class="label label-info">Reading the data of the file: {{mainFilePath}}</span></h4>

        <div growl></div>
    </body>
    <script type="application/javascript" src="/uaiGui/javascript?fileName=rootConfig"></script>
</html>