<!DOCTYPE html>
<html lang="en" ng-app="uaiMockServerApp">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/uai-mock-server-gui/css/bootstrap" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css/tableSort" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css/index" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css/growl" />
        <link rel="stylesheet" href="/uai-mock-server-gui/css/log" />

        <script type="application/javascript" src="/uai-mock-server-gui/javascript/angular"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript/angular-animate"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript/tableSort"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript/jquery"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript/bootstrap"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript/angular-growl"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript/angular-sanitize"></script>
        <script type="application/javascript" src="/uai-mock-server-gui/javascript/ui-bootstrap-tpls"></script>

        <title>
            UaiMockServer - GUI
        </title>
    </head>
    <body ng-controller="rootConfigController" class="container">
        <div ng-include="'/uai-mock-server-gui/page/headerMenu'"></div>

        <h2><span class="label label-danger">An update here will only take effect after a reboot</span></h2>

        <div name="requestForm" class="css-form"><br/><br/>
            File Log: <input type="checkbox" ng-model="rootConfig.fileLog" /><br />
            Console Log: <input type="checkbox" ng-model="rootConfig.consoleLog" /><br /><br />
            Port: <input type="text" class="form-control" ng-model="rootConfig.port" placeholder="The port to be invoked, e.g.: 8080" /><br />
            Host: <input type="text" class="form-control" ng-model="rootConfig.host" placeholder="The IP that will be bound" /><br />
            Context: <input type="text" class="form-control" ng-model="rootConfig.context" placeholder="The url context e.g. http://IP/CONTEXT" /><br />
            Default Content-Type: <input type="text" class="form-control" ng-model="rootConfig.defaultContentType" placeholder="A default Content-Type to be returned" /><br />
        </div>

        <button type="button" class="btn btn-primary" ng-click="update()">Save changes</button>

        <h4><span class="label label-info">Reading the data of the file: {{mainFilePath}}</span></h4>

        <div growl></div>
    </body>
    <script type="application/javascript" src="/uai-mock-server-gui/javascript/rootConfig"></script>
</html>