com.uaihebert.uaimockserver {
	port = 1234
	host = localhost
	fileLog = false
	consoleLog = true
	context = /uaiMockServer
	defaultContentTypeResponse = "text/html;charset=UTF-8"
	routes = [
	    {
			request {
				path = "/allConfigs01"
				method = "GET"
				isBodyRequired = true
				holdTheRequestInMilli = 100
				requiredContentType = "application/json"
				requiredHeaderList = [
					{
						header {
							name = "X-UAI-LOGIN-HEADER"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
					{
						header {
							name = "X-API-VERSION"
							valueList = [
								"MOCK_VALUE"
							]
						}
					}
				]
				requiredQueryParamList = [
					{
						queryParam {
							name = "queryParam01"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
					{
						queryParam {
							name = "queryParam02"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
				]
			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
                headerList = [
                    {
                        header {
                            name = "X-UAI-LOGIN-HEADER"
                            valueList = [
                                "MOCK_VALUE"
                                "REQUIRED"
                            ]
                        }
                    }
                    {
                        header {
                            name = "X-API-VERSION"
                            valueList = [
                                "MOCK_VALUE"
                            ]
                        }
                    }
                ]
			}
	    }
	    {
			request {
				path = "/allConfigs02"
				method = "GET"
				isBodyRequired = true
				holdTheRequestInMilli = 100
				requiredContentType = "application/json"
				requiredHeaderList = [
					{
						header {
							name = "X-UAI-LOGIN-HEADER"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
					{
						header {
							name = "X-API-VERSION"
							valueList = [
								"MOCK_VALUE"
							]
						}
					}
				]
				requiredQueryParamList = [
					{
						queryParam {
							name = "queryParam01"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
					{
						queryParam {
							name = "queryParam02"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
				]
			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
                headerList = [
                    {
                        header {
                            name = "X-UAI-LOGIN-HEADER"
                            valueList = [
                                "MOCK_VALUE"
                                "REQUIRED"
                            ]
                        }
                    }
                    {
                        header {
                            name = "X-API-VERSION"
                            valueList = [
                                "MOCK_VALUE"
                            ]
                        }
                    }
                ]
			}
	    }
	]
}