com.uaihebert.uaimockserver {
	routes = [
	    {
			request {
			    name = "Invoke URL from other file"
				path = "/customer"
				method = "PUT"
				isBodyRequired = true
			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 201
				body = """{"mockCustomerBody":{"name":"Joseph of Arimathea"}}"""
			}
	    }
	]
}