com.uaihebert.uaimockserver {
	port = 1234
	host = localhost
	fileLog = false
	consoleLog = false
	context = /uaiMockServer
	defaultContentTypeResponse = "text/html;charset=UTF-8"
	routes = [
	    {
			request {
				path = "/sameURLUsingHeader"
				method = "GET"
				requiredHeaderList = [
                    {
                        header {
                            name = "HEADER-01"
                            valueList = [
                                "HEADER_VALUE_01"
                            ]
                        }
                    }
                ]

			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 201
			}
	    }
	    {
			request {
				path = "/sameURLUsingHeader"
				method = "GET"
				requiredHeaderList = [
                    {
                        header {
                            name = "HEADER-02"
                            valueList = [
                                "HEADER_VALUE_02"
                            ]
                        }
                    }
                ]

			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 202
			}
	    }
	]
}