com.uaihebert.uaimockserver {
	port = 1234
	host = localhost
	fileLog = false
	consoleLog = true
	context = /uaiMockServer
	defaultContentTypeResponse = "text/html;charset=UTF-8"
	routes = [
	    {
			request {
				name = "All Configurations 01"
				path = "/configForUpdateWithAllConfiguration"
				method = "GET"
				description = "Sample with all configurations 01"
				isBodyRequired = true
				holdTheRequestInMilli = 100
				requiredContentType = "application/json"
				requiredHeaderList = [
                    {
                        header {
                            name = "X-UAI-LOGIN-HEADER"
                            valueList = [
                                "HEADER_VALUE_01"
                                "HEADER_VALUE_02"
                            ]
                        }
                    }
                    {
                        header {
                            name = "X-API-VERSION"
                            valueList = [
                                "HEADER_VALUE_03"
                            ]
                        }
                    }
                ]
                requiredQueryParamList = [
                    {
                        queryParam {
                            name = "queryParam01"
                            valueList = [
                                "QUERY_PARAM_VALUE_01"
                                "QUERY_PARAM_VALUE_02"
                            ]
                        }
                    }
                    {
                        queryParam {
                            name = "queryParam02"
                            valueList = [
                                "QUERY_PARAM_VALUE_03"
                                "QUERY_PARAM_VALUE_04"
                            ]
                        }
                    }
                ]
			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
                headerList = [
                    {
                        header {
                            name = "X-UAI-LOGIN-HEADER"
                            valueList = [
                                "MOCK_VALUE"
                                "REQUIRED"
                            ]
                        }
                    }
                    {
                        header {
                            name = "X-API-VERSION"
                            valueList = [
                                "MOCK_VALUE"
                            ]
                        }
                    }
                ]
			}
	    }
        {
			request {
				name = "Few Config"
				path = "/configForUpdateWithFewConfigs"
				method = "GET"
				requiredContentType = "application/json"
			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 204
			}
	    }
	]
}