com.uaihebert.uaimockserver {
	port = 1234
	host = localhost
	context = /uaiMockServer
	fileLog = false
	consoleLog = false
	defaultContentTypeResponse = "application/json;charset=UTF-8"
	routes = [
	    {
			request {
				path = "/runnerWithConfig01"
				method = "GET"
			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
			}
	    }
	]
}