com.uaihebert.uaimockserver {
	port = 1234
	host = localhost
	fileLog = false
	consoleLog = true
	context = /uaiMockServer
	defaultContentTypeResponse = "text/html;charset=UTF-8"
	mappingRoutesFileList = [
			"customerRequests.config"
			"paymentsRequests.config"
	]
	routes = [
	    {
			request {
			    name = "Hello World"
				path = "/"
				method = "GET"
			}
			response {
				contentType = "application/json;charset=UTF-8"
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
			}
	    }
	    {
			request {
				path = "/noResponseContentTypeConfigured"
				method = "GET"
			}
			response {
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
			}
	    }
	    {
			request {
			    name = "Required Header Test"
				path = "/requiredHeader"
				method = "GET"
				requiredHeaderList = [
					{
						header {
							name = "X-UAI-LOGIN-HEADER"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
					{
						header {
							name = "X-API-VERSION"
							valueList = [
								"MOCK_VALUE"
							]
						}
					}
				]
			}
			response {
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
			}
	    }
	    {
			request {
			    name = "Required Query Param Test"
				path = "/requiredQueryParam"
				method = "GET"
				requiredQueryParamList = [
					{
						queryParam {
							name = "queryParam01"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
					{
						queryParam {
							name = "queryParam02"
							valueList = [
								"MOCK_VALUE"
								"REQUIRED"
							]
						}
					}
				]
			}
			response {
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
			}
	    }
	    {
			request {
			    name = "Wild Card with Query Param Test"
				path = "/wildCardIsWorkingWithQueryParam"
				method = "GET"
				requiredQueryParamList = [
					{
						queryParam {
							name = "queryParam01"
							valueList = [
								"UAI_*"
							]
						}
					}
					{
						queryParam {
							name = "queryParam02"
							valueList = [
								"UAI_*"
							]
						}
					}
				]
			}
			response {
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
			}
	    }
	    {
			request {
				path = "/wildCardIsWorkingWithHeader"
				method = "GET"
				requiredHeaderList = [
					{
						header {
							name = "X-UAI-LOGIN-HEADER"
							valueList = [
								"UAI_*"
							]
						}
					}
					{
						header {
							name = "X-API-VERSION"
							valueList = [
								"UAI_*"
							]
						}
					}
				]
			}
			response {
				statusCode = 200
				body = """{"mockBody":{"title":"Hello World"}}"""
			}
	    }
	    {
			request {
				path = "/responseHeaderTest"
				method = "GET"
			}
			response {
				statusCode = 204
				headerList = [
					{
						header {
							name = "HEADER-01"
							valueList = [
								"RETURNED_HEADER-01"
							]
						}
					}
					{
						header {
							name = "HEADER-02"
							valueList = [
								"LIST_01"
								"LIST_02"
							]
						}
					}
				]
			}
	    }
        {
            request {
                path = "/requiredRequestContentType"
                method = "GET"
                requiredContentType = "application/json"
            }
            response {
                statusCode = 204
            }
        }
	]
}